.header {
    height: 85vh; /* vh = viewport height and the 95 is like % */ 
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark,0.8)), 
        url(../img/hero-small.jpg); /* to have multiple backgrounds use commmas */
    background-size: cover; /* whatever width it will try to fit in the box */
    background-position: top; /* ensures that the image always stays at the top of the container */
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% ); // Starts from top right and goes clockwise. x y per each comma, you can remove or add commas to make different polygons */

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
        height: 95vh
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), 
        only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
        only screen and (min-width: 125em) { //dpi = dot per inch, 192 is the apple retina screen, if resolution is higher than 192 load bigger image AND width is larger than 600
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark,0.8)), 
        url(../img/hero.jpg); 
    }

    //Combined with above media query with , which means OR
    // @media (min-width: 2000px) { //show the larger image for big screens even though the dpi may not be 192
    //     background-image: linear-gradient(
    //     to right bottom, 
    //     rgba($color-primary-light, 0.8), 
    //     rgba($color-primary-dark,0.8)), 
    //     url(../img/hero.jpg);
    // }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100% );
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100% );
    }

    &__logo-box {
        position: absolute; /* the parent is header which is the position: relative */
        top: 4rem; /* its 40px becuase of the 30px border and then 10px padding almost */
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%; /* these are in relation to the parent element */ 
        left: 50%;
        transform: translate(-50%, -50%); /* these are in relation to the element so it takes - half of the height/width which then centers it */
        text-align: center;
    }
}