body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden; /*used if your animations have a shake or something*/ 
    margin-bottom: 6rem;

    &--main {
        display: block; /* seprates the spans */ 
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* other animation things you can do: 
        animation-delay: 3s: delays when the animation starts
        animation-iteration-count: 3; how many times it plays the animation
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out; /* another way to write animations, can do all in one line */ 
    }
}